/* Цвет основного текста #757575; */
/* Вторичный цвет текста #212121; */
/* Белый #FFFFFF; */
/* Акцент #2196F3; */
/* Контакты в подвале 255,255,255,0,6; */
/* Цвет фона #FFFFFF */
/* Цвет фона команды #F5F4FA; */
/* Цвет фона подвала #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #fff;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --logo-studio-header-color: #000000;
  --footer-studio-footer-color: #fff;
  --footer-contacts-color: rgb(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.page-header {
  display: flex;
  align-items: center;
}

/* Logo  */

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header-studio {
  color: var(--logo-studio-header-color);
}
.footer-studio-logo {
  color: var(--footer-studio-footer-color);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--accent-color);
}
.site-nav .nav-link.current {
  color: var(--accent-color);
}

/* Header Contacts */

.page-header-contacts {
  display: flex;
  margin-left: auto;
}

.page-header-contacts .contacts-item:not(:last-child) {
  margin-right: 50px;
}

.page-header-contacts .header-contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/* Hero  */

.hero {
  background-color: var(--primary-background-color);
  text-align: center;
  margin-top: 0;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero .btn.primary {
  text-decoration: none;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* Sections */

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

/* Features */

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 270px;
}

.features-list .features-item:not(:last-child) {
  margin-right: 30px;
}

.features-list .features-title {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
}
.features-list .features-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Duties  */

.section-duties {
  padding-bottom: 94px;
}

.duties-list {
  display: flex;
  width: calc((100% - 60px) / 3);
}

.duties-item:not(:last-child) {
  margin-right: 30px;
}

/* Team  */

.section-team {
  background-color: var(--secondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  width: calc((100% - 90px) / 4);
}

.team-member {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.member-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list .teammate-name {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}
.team-list .profession {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

/* Footer  */

.footer {
  background-color: var(--primary-background-color);
  color: rgb(255, 255, 255, 0.6);
  text-decoration: none;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  margin-top: 20px;
}

.footer-contacts {
  margin-top: 9px;
}

.footer .footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer .footer-address {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer .footer-contact {
  color: var(--footer-contacts-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

/* Buttons */

.btn {
  color: var(--title-text-color);
  background-color: var(--white-color);
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}
.btn.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  height: 50px;
  padding: 10px 32px;
}
.btn.secondary {
  background-color: var(--secondary-background-color);
  height: 38px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  margin-right: 8px;
}

.btn.secondary:hover,
.btn.secondary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Portfolio */

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.portfolio-container {
  margin-top: 50px;
}

.portfolio-elements {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-elements:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-elements:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-elements .element-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.portfolio-elements .element-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-left: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.portfolio-elements > a {
  text-decoration: none;
}
